:root {
    --primary-color: white;
    --s-200: #90d0ee;
    --secondary-color: #4272a1;
    --strokes_mild: #d9d9d9;
    --surface-color-1: #f6f6f6;
    --black: black;

}

.w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 991px){
    .w-layout-blockcontainer{
        max-width: 728px;
    }
}

@media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
        max-width: none;
    }
}

.body {
    text-align: center;
    padding-bottom: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}


#nav_bar_container {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: auto;
    max-width: auto;
    margin-left: 8%;
    margin-left: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    margin-top: 9px;
    margin-bottom: 9px;
    margin-left: 92px;
}

.logo.w--current {
    float: none;
    clear: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero_section{
    -webkit-text-fill-color: inherit;
    background-image: url("/assets/hero-image.png");
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: cover;
    background-attachment: scroll;
    background-clip: border-box;
    border-radius: 28px;
    margin-top: 20px;
    margin-left: 47px;
    margin-right: 47px;
}

.heading {
    color: var(--primary-color);
    font-Family: Big Shoukders Display, sans-serif;
    font-size: 64px;
    line-height: 76px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.heading.clean_energy {
    color: var(--s-200);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.container-2{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 296px;
}

.hero_cta_text{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-decoration: None;
}

.hero_cta{
    display: flex;
    flex-direction: row;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    background-color: var(--primary-color);
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    text-decoration: None;
}


.hero_cta_icon{
    margin-top: 4.5px;
    margin-bottom: 4.5px;
}

.cta_container {
    background-image: url("/assets/coming_soon_bg.svg");
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 16px;
    width:auto;
    height:auto;
    margin-top: -95px;
    margin-bottom: 40px;
    padding: 40px;
}

.form{
    display: flex;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    justify-content: center;
    align-items: center;
}

.text-field{
    background-color: #fff0ff;
    border: 1px solid #c4c4c4;
    border-radius: 1000px;
    flex:1;
    margin-bottom: 0;
    margin-right: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 201px;
}

.submit-button{
    display: block;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    margin: -20px -12px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
}

.div-block-3 {
    display: flex;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    background-color: var(--secondary-color);
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.form-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-2 {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.heading-3 {
    color: #000;
    font-size: 48px;
    line-height: 30px;
}

.cta_section {
    margin-bottom: 0;
}

.success-message {
    background-color: #dddddd0f;
    font-size: 18px;
    font-weight: 500;
}

.link_menu {
    display: flex;
    gap: 24px;
    grid-row-gap: 24px;
    background-color: var(--surface-color-1);
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
}

.link_menu.nav {
    display: flex;
    flex-direction: row;
    flex: 0 auto;
}

.nav_link{
    color: var(--black);
    margin-left: 0;
    padding: 0;
    font-weight: 500;
    text-decoration: none;
}

.nav_link:hover{
    color: #8e8e93;
}

.nav_cta{
    display: flex;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 400px;
    justify-content: center;
    align-items: center;
    padding: 6.5px 15px;
    text-decoration: none;
}

.nav_cta.mobile{
    display:none;
}

.cta_text{
    color: var(--secondary-color);
    text-align: left;
    line-height: 0;
    text-decoration: none;
}

.image-6{
    vertical-align: middle;
    width: 200px;
}

.navbar-3{
    border-bottom: 1px solid var(--strokes_mild);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

@media screen and (max-width: 991px){
    .paragraph{
        font-size: 17px;
    }

    .cta_container{
        background-image: url("/assets/coming_soon_bg.svg");
        background-position: 50%;
        background-size: 730px 1008px;
    }

    .text-field{
        padding-right: 170px;
    }

    .paragraph-2{
        font-size: 16px;
    }

    .heading-3{
        font-size: 46px;
    }

    .link_menu{
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        border: 1px solid var(--strokes_mild);
        background-color: #fff;
        border-radius: 0;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px 67px;
    }

    .link_menu.nav{
        grid-column-gap: 55px;
        grid-row-gap: 55px;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav_link{
        text-align: center;
        margin-bottom: 15px;
    }

    .nav_cta.desktop {
        display: none;
    }

    .nav_cta.mobile{
        justify-content: center;
        align-items: center;
        width: 140px;
        max-width: 100%;
        margin-left: 38%;
        margin-right: 0%;
        padding-left: 10px;
        display:flex;
    }

    .image-7 {
        display: block;
    }

}


@media screen and (max-width: 767px) {
    .heading {
        margin-bottom: 5px;
        font-size: 62px;
        line-height: 68px;
    }

    .paragraph{
        margin-top: 20px;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 15px;
        line-height: 24px;
    }

    .container-2{
        padding-top: 40px;
        padding-bottom: 160px;
    }

    .cta_container{
        background-size: 510px 750px;
        border-radius: 40px;
        max-width: 500px;
        margin-bottom: 0;
        padding: 25px;
    }

    .text-field{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 114px;
        font-size: 7px;
        line-height: 12px;
    }

    .submit-button{
        font-size: 14px;
    }

    .paragraph-2{
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .heading-3{
        font-size: 38px;
        line-height: 24px;
    }

    .nav_cta.mobile{
        margin-left: auto;
        margin-left: auto;
    }

    .cta_text{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 479px) {
    .heading{
        padding-left: 7px;
        padding-right: 7px;
        font-size: 48px;
        line-height: 54px;
    }

    .container-2{
        padding-bottom: 100px;
    }

    .hero_cta_text{
        font-size: 12px;
    }

    .text-field{
        padding: 3px 5px 3px 10px;
    }

    .div-block-3{
        padding: 10px 13px;
    }

    .heading-3{
        font-size: 30px;
    }

    .nav_cta{
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        padding: 2.5px 5px;
    }

    .cta_text {
        font-size: 8px;
    }
    
}